{
  "presets": [
    // NOTE: when modules is set to false, module.exports is not working
    ["env", { "modules": "commonjs" }],
    "stage-2"
  ],
  "plugins": [
      "transform-runtime",
      "transform-vue-jsx",
    ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [ "istanbul" ]
    }
  }
}
